<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TransactionMapper">
    <select id="getSellerConfirmed" parameterType="string" resultType="int">
        SELECT seller_confirmed
        FROM transaction
        WHERE id = #{transactionId}
    </select>

    <select id="getBuyerConfirmed" parameterType="string" resultType="int">
        SELECT buyer_confirmed FROM transaction WHERE id = #{transactionId}
    </select>

    <select id="getCompanyIdFromBuyerInquiry" parameterType="string" resultType="string">
        SELECT i.company_id
        FROM transaction t
                 JOIN inquiries i ON t.buyer_id = i.id
        WHERE t.id = #{transactionId}
    </select>
</mapper>